:root {
    --dark-liver: #54494bff;
    --mint-cream: #f1f7edff;
    --turquoise-green: #91c7b1ff;
    --upsdell-red: #ac0929ff;
    --flax: #e3d081ff;
    --angel-blue: #719ECE;
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: 0px;
    background-color: var(--dark-liver);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

h1 {
    text-align: center;
    grid-column: span 2;
    margin: 10vh;
    color: var(--mint-cream);
}

table {
    border-collapse: collapse;
    background-color: var(--upsdell-red);
    color: white;
    margin: 0px 2rem;
}

td {
    border: 3px solid var(--dark-liver);
    padding: 1rem;
}

tr:first-child>td {
    background-color: var(--metallic-sunburst);
}

#controlPanel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 15vh);
    margin-left: 2rem;
}

#controlPanel input[type=button] {
    padding: 1rem;
    background: hsla(0, 0%, 100%, 1);
    border: 2px solid white;
    height: 4rem;
    margin: 0.5rem;
    transition: 100ms ease-in;
}

#controlPanel input[type=button]:not([disabled]):hover, #controlPanel input[type=button]:not([disabled]):focus {
    box-shadow: 0 0 10px var(--angel-blue);
    border: 2px solid var(--turquoise-green);
    outline: none;
}

#controlPanel > div {
    text-align: center;
    padding: 2rem;
    background-color: hsla(0,0%,100%,0.1);
    margin: 0.5rem;
    display: grid;
    align-content: center;
}

#rollingTotalVote {
    grid-column: span 3;
    margin-top: 1rem;
}
#rollingTotalVote th {
    padding: 1rem;
}
#rollingTotalVote td {
    text-align: center;
}
@media only screen and (max-width:720px) {
    body {
        grid-template-columns: 1fr;
    }
    h1 {
        grid-column: span 1;
        margin: 1rem;
    }
    #controlPanel {
        margin: 0px;
        gap: 20px;
    }
    #controlPanel input[type=button] {
        margin: 0px;
    }
    #currtable {
        display: none
    }
}